# List of Python requirements 
requests
expandvars
curl_cffi
pillow
pyaudio
pydub
speechrecognition
openai
tiktoken
newspaper3k
mcp
lxml
lxml_html_clean
pylatexenc
matplotlib
markdownify
# If you are packaging the application, you can ignore these requirements
# (better if you install them)
model2vec
faiss-cpu
llamaindex_core
llamaindex_readers_file
llama-index-vector-stores-faiss
gtts

# list of non-python requirements
# - git
# - vte4
# - llama-server (optional)
# - portaudio
# - webkitgtk-6.0
