requests
tiktoken
pylatexenc
tldextract
gTTS
numpy
matplotlib
PyAudio
pydub
newspaper3k
beautifulsoup4
markdownify
lxml
lxml_html_clean
Pillow
pyobjc-framework-Cocoa
pyobjc-framework-WebKit
openai
google-genai
anthropic
ollama
speechrecognition
ddgs
edge-tts
elevenlabs==2.9.1
tavily-python
